# Prerequisite files or directories
*.d
deps
depsd

# Object files
*.o

# Library files
*.lib
*.a

# Shared objects
*.dll
*.so
*.so.*

# Executable files and directories
*.bin
*.exe
bin

# Debug files
*.dbg

# Temporary files or directories
*.tmp*
tmp

# Archive files
*.tar
*.gz
*.tgz
*.bz2
*.xz
*.txz
*.zip
*.rpm
*.save*
*.old*

# Text files
*.txt

# Documentation directory
html

# DOT files
*.dot

# Image files
*.svg

# Personal genealogy files
genealog*_export*

